* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0e1538;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container a {
  position: relative;
  width: 160px;
  height: 60px;
  display: inline;
  background: #fff;
}
.container a:before,
.container a:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #f00;
  transition: 0.5s;
}
.container a:nth-child(1):before,
.container a:nth-child(1)::after {
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}
.container a:nth-child(1):before,
.container a:nth-child(1)::after {
  background: linear-gradient(45deg, #ee0909, #000105, #000000, #00682b);
}
